.header{
    height: 50px;
    display: flex;
    justify-content: space-between;
align-items: center;
padding: 0 25px;
box-shadow: 0px 15px 10px -15px blue;
}
.col a.logo {
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    color: black;
}

.col a.login{
    margin-left: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;

}

.col a.login:hover{
    text-decoration: underline;

}

.col a.logo:hover{
    text-decoration: underline;

}
.main{
    min-height: calc(100vh - 70px);
}
.footer{
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.slider {
    display: flex;
    padding-top: 10px;
}
.left{
    display: flex;
    align-items: center;
    justify-content: center;
}
.title{
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0 0 4px black ;
}
.right{
    display:flex;
    justify-content: center;
    align-items:center
}
.big-title{
    text-align: center;
    margin-bottom: 90px;
    text-transform: uppercase;
    font-weight: bold;
}

.content{

    margin: 150px 0;
}
.content-groups{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    gap:40px ;
    align-items: center;
}
.card{
    width: 250px;
    height: 300px;
    
}
.card-body{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}
.img-cars{
    width: 100%;
    display: block;
    margin: 0 auto;
    filter: drop-shadow(0 0 13px #111111);
}
.card-footer{
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.car-title{
    text-transform: uppercase;
    margin-bottom: 5px;
    font-weight: bold;
}


.per-day{
    margin-bottom: 20px;
}
.bold-price{
 font-weight: bold;
}

.rent-now{
    padding: 5px 15px;
    background-color: #ffffff;
    box-shadow: 0 0 3px #000000;
    color: #000000;
    cursor:pointer;
    transition: all 0.5s;
    border: none;
}
.rent-now:hover{
    background-color: #000000;
    color: #ffffff;
}
.rent-link{
    color: #000000;
text-decoration: none;
}

.rent-now:hover .rent-link{
    color:#ffffff
}